DATABASE_URL="mysql://user:password@localhost:3306/note2quiz"
DATABASE_USER="user"
DATABASE_PASSWORD="password"
DATABASE_NAME="note2quiz"
DATABASE_HOST="localhost"
DATABASE_PORT=3306
JWT_SECRET="key_for_jwt"
CLARIFAI_PAT=123exampletoken